<div class="container gradient-background ">
    <h1>TurpialCode</h1>
    <h3>{{"homePage.Selected" | translate}}
        <span id="playersTi" class="gone">{{"homePage.Players" | translate}}</span>
        <span id="idolsTi" class="gone">{{"homePage.Idols" | translate}}</span>
        <span id="heroesTi" class="gone">{{"homePage.Heroes" | translate}}</span>
        <span #myHeading class="tw"></span>
    </h3>
    <button mat-raised-button color="accent" (click)="goPlayers()">{{"homePage.Show_Me_btn" | translate}}</button>
</div>