#buttonDetails {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1.5rem;
}

#buttonDetailsContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 5px;
}