<mat-grid-list style="margin: 10px;" cols="{{breakpoint}}" rowHeight="1:.5" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let play of players">
        <mat-list-item style="width: 100%; justify-content: center; text-align: center;">
            <div matListItemTitle>
                <span>{{play.name}}</span>
            </div>
        </mat-list-item>
        <mat-list-item>
            <button mat-button style="padding: 2.5em;" (click)="goDetails(play.name)">{{"fulDetailBtn" | translate}}</button>
        </mat-list-item>
    </mat-grid-tile>
</mat-grid-list>